<%- include ('../public/header.ejs')%>
    <%- include ('../public/nav.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <%- include ('../public/aside.ejs')%>
                </div>
                <div class="col-sm-10">